<div class="forgot-password-container">
  <h2>Mot de passe oublié</h2>
  <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm" *ngIf="!emailSent">
    <div>
      <label for="email">Adresse email :</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required email #emailInput="ngModel">
      <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
        <div *ngIf="emailInput.errors?.['required']">
          L'adresse email est requise.
        </div>
        <div *ngIf="emailInput.errors?.['email']">
          L'adresse email n'est pas valide.
        </div>
      </div>
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <button type="submit" [disabled]="forgotPasswordForm.invalid">Envoyer</button>
  </form>
  <div *ngIf="emailSent" class="success-message">
    Un email avec vos nouveaux identifiants de connexion a été envoyé.
  </div>
</div>