<div class="app-container">
  <!-- Barre de navigation -->
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/">JO 2024 Réseau Social</a>
    </div>
    <div class="navbar-menu">
      <a routerLink="/accueil">Accueil</a>
      <a routerLink="/auth">Authentification</a>
      <a routerLink="admin">Admin</a>
      <a routerLink="login">Login</a>
      <a routerLink="register">Register</a>
      <a routerLink="logout">Logout</a>
      <a routerLink="forgot-password">mot de Passe oublié</a>
      <a href="/profil">Profil</a>
      <a href="/amis">Amis</a>
      <a href="/discussions">Discussions</a>
      <!-- Ajoutez d'autres liens de navigation si nécessaire -->
    </div>
  </nav>

  <!-- Contenu principal -->
  <main class="main-content">
    <router-outlet></router-outlet> <!-- Angular va injecter les composants ici -->
  </main>

  <!-- Pied de page -->
  <footer class="footer">
    <p>&copy; 2024 JO Réseau Social. Tous droits réservés.</p>
  </footer>
</div>