form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  img {
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  p {
    margin: 0.5rem 0;
    strong {
      color: #555;
    }
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  
  /* Style pour les sélecteurs */
  select {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 1rem;
  }
  
  /* Style pour les sections conditionnelles */
  div[ngIf] {
    margin-top: 1rem;
  }
  .confirmation-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }

  .ignore-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
