<div *ngIf="user && (userRole === 'admin' || userRole === 'member')">
  <form *ngIf="editing" (ngSubmit)="onSubmit()">
    <h2>Modifier le Profil de {{ user.pseudonyme }}</h2>
    <img
      [src]="user.photoProfil"
      alt="Photo de profil de {{ user.pseudonyme }}"
      width="150"
    />
    <p><strong>Nom :</strong> {{ user.nom }}</p>
    <p><strong>Prénom :</strong> {{ user.prenom }}</p>
    <p>
      <strong>Préférences :</strong>
      <span *ngFor="let preference of user.preferences">{{ preference }}</span>
    </p>
    <p><strong>Email :</strong> {{ user.email }}</p>
    <p><strong>Genre :</strong> {{ user.genre }}</p>
    <p>
      <strong>Date de naissance :</strong>
      {{ user.dateNaissance | date : "longDate" }}
    </p>
    <p><strong>Présentation :</strong> {{ user.presentation }}</p>
    <button type="submit">Sauvegarder les modifications</button>
  </form>
  <button *ngIf="!editing" (click)="enableEditing()">Modifier le Profil</button>
</div>

<!-- Affiche le profil de l'ami de Martin si l'utilisateur est un administrateur ou un membre et est ami avec Martin -->
<div
  *ngIf="
    user &&
    (userRole === 'admin' || (userRole === 'member' && isFriendOfMartin))
  "
>
  <!-- Contenu du profil de l'ami de Martin ici -->
</div>

<!-- Affiche tous les profils si l'utilisateur est un administrateur -->
<<div *ngIf="userRole === 'admin'">
  <label for="friendsList">Sélectionnez un ami de Martin :</label>
  <select id="friendsList" [(ngModel)]="selectedFriendId" (change)="onSelectFriend()">
    <option *ngFor="let friend of martinsFriends" [value]="friend.id">{{ friend.pseudonyme }}</option>
  </select>
  <button (click)="deleteAllUsers()">Supprimer Tous les Profils</button>
</div>

<!-- Affiche le profil de l'utilisateur actuel si ce n'est pas un administrateur -->
<div *ngIf="userRole !== 'admin' && user">
  <button (click)="deleteUser(user.id)">Supprimer le Profil</button>
  <!-- Contenu du profil pour l'utilisateur actuel ici -->
</div>

<div *ngIf="userRole === 'admin'">
  <label for="usersList">Sélectionnez un utilisateur :</label>
  <select id="usersList" [(ngModel)]="selectedUserId" (change)="onSelectUser()">
    <option *ngFor="let user of allUsers" [value]="user.id">{{ user.pseudonyme }}</option>
  </select>
</div>