<div class="search-container">
  <input
    [(ngModel)]="query"
    placeholder="Rechercher un membre"
    class="search-input"
  />
  <button (click)="onSearch()" class="search-button">Rechercher</button>
</div>
<div *ngIf="notificationMessage" class="notification">
  {{ notificationMessage }}
</div>
<div *ngIf="results.length > 0" class="results-container">
  <ul>
    <li
      *ngFor="let member of results"
      class="result-item"
      (click)="sendFriendRequest(member.id, member.email)"
    >
      <img
        [src]="member.photoProfil"
        alt="{{ member.prenom }}"
        class="result-photo"
      />
      <span class="result-name">{{ member.prenom }} {{ member.nom }}</span>
    </li>
  </ul>
</div>
<div *ngIf="allMembers.length > 0" class="all-members-container">
  <h2>Liste des Membres</h2>
  <ul>
    <li
      *ngFor="let member of allMembers"
      class="member-item"
      (click)="sendFriendRequest(member.id, member.email)"
    >
      <img
        [src]="member.photoProfil"
        alt="{{ member.prenom }}"
        class="member-photo"
      />
      <span class="member-name">{{ member.prenom }} {{ member.nom }}</span>
    </li>
  </ul>
</div>
